{% extends "layout.html" %} {% block title %}Uusi ilmoitus - TechTori{% endblock
%} {% block css %}
<link rel="stylesheet" href="/static/css/create-item.css" />
{% endblock %} {% block content %}
<h1>Uusi ilmoitus</h1>

<hr />
<form method="post" action="/create-item">
  <div class="form-group">
    <label for="title"
      >Otsikko
      <p class="required">*</p></label
    >
    <input type="text" id="title" name="title" maxlength="100" required />
  </div>
  <div class="form-group">
    <label for="description"
      >Kuvaus
      <p class="required">*</p></label
    >
    <textarea
      id="description"
      name="description"
      maxlength="1000"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="price"
      >Hinta (€)
      <p class="required">*</p></label
    >
    <input
      type="number"
      id="price"
      name="price"
      step="1"
      min="0"
      max="10000"
      required
    />
  </div>
  <div class="form-group">
    <label for="category"
      >Kategoria
      <p class="required">*</p></label
    >
    <select id="category" name="category" required>
      <option value="" disabled selected>Valitse kategoria</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="condition"
      >Kunto
      <p class="required">*</p></label
    >
    <select id="condition" name="condition" required>
      <option value="" disabled selected>Valitse kunto</option>
      {% for condition in conditions %}
      <option value="{{ condition.id }}">{{ condition.name }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit" class="btn">Lähetä ilmoitus</button>
</form>
{% endblock %}
