{% extends "layout.html" %} {% block title %}Uusi ilmoitus - TechTori{% endblock
%} {% block content %} {% block css %}
<link rel="stylesheet" href="/static/create-item.css" />
{% endblock %}

<h1>Uusi ilmoitus</h1>
<hr />
<form method="post" action="/create-item">
  <div class="form-group">
    <label for="title">Otsikko:</label>
    <input type="text" id="title" name="title" required />
  </div>
  <div class="form-group">
    <label for="description">Kuvaus:</label>
    <textarea
      id="description"
      name="description"
      required
      maxlength="1000"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="price">Hinta (€):</label>
    <input
      type="number"
      id="price"
      name="price"
      step="0.01"
      required
      min="0"
      max="10000"
    />
  </div>
  <div class="form-group">
    <label for="category">Kategoria:</label>
    <select id="category" name="category" required>
      <option value="" disabled selected>Valitse kategoria</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="condition">Kunto:</label>
    <select id="condition" name="condition" required>
      <option value="" disabled selected>Valitse kunto</option>
      {% for condition in conditions %}
      <option value="{{ condition.id }}">{{ condition.name }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

  <button type="submit">Lähetä ilmoitus</button>
  {% endblock %}
</form>
