{% extends "layout.html" %} {% block title %}Etusivu - TechTori{% endblock %} {%
block content %} {% if session.username %}
<h1>Tervetuloa, {{ session.username }}!</h1>
{% else %}
<h1>Tervetuloa TechToriin!</h1>
{% endif %}
<div class="listings">
  {% for listing in listings %}
  <a class="listing" href="/listing/{{ listing.id }}">
    <div>
      <h3>{{ listing.title }}</h3>

      <p>
        {{ listing.description[:150] }}{% if listing.description|length > 150
        %}...{% endif %}
      </p>
    </div>
    <div>
      <p><strong>Kategoria:</strong> {{ listing.category }}</p>
      <p><strong>Kunto:</strong> {{ listing.condition }}</p>
      <p><strong>Hinta:</strong> {{ listing.price }}€</p>
    </div>
</a>
  {% endfor %}
</div>
{% endblock %}
