{% extends "layout.html" %} {% block title %}Ilmoitus - TechTori{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/listing.css" />
{% endblock %} {% block content %}
<div class="title-row">
  <h1>{{ listing.title }}</h1>
  {% if session.user_id and session.user_id != listing.user_id %}
  <form action="/favorite/{{ listing.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="redirect" value="{{ request.path }}" />
    {% if is_favorited %}
    <button type="submit" class="btn">Poista suosikeista</button>
    {% else %}
    <button type="submit" class="btn secondary">Lisää suosikkeihin</button>
    {% endif %}
  </form>
  {% endif %}
</div>

<div class="listing-details">
  <div class="listing-price">
    <p>{% if is_sold %}Myyty hinnalla {% else %}Myydään{% endif %}</p>
    <div>{{ listing.price }} €</div>
  </div>
  <hr />
  <div class="info">
    <span>Kategoria: <strong>{{ listing.category }}</strong></span>
    <span>Kunto: <strong>{{ listing.condition }}</strong></span>
  </div>
  <p class="listing-description">{{ listing.description }}</p>

  <p><strong>Luotu:</strong> {{ listing.created_at }}</p>
  <p><strong>Myyjä:</strong> {{ listing.username }}</p>

  <div class="actions">
    {% if listing.user_id == session.get("user_id") %}
    <a href="/edit-listing/{{ listing.id }}" class="btn secondary"
      >Muokkaa ilmoitusta</a
    >
    <a href="/delete-listing/{{ listing.id }}" class="btn secondary"
      >Poista ilmoitus</a
    >
    {% if is_sold %}
    <form action="/unsell-listing/{{ listing.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit" class="btn">Myynnin peruminen</button>
    </form>
    {% endif %} {% elif session.get("user_id") %}
    <form action="/buy-listing/{{ listing.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit" class="btn">Osta ilmoitus</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
