<div class="pagination">
  {% if page > 1 %}
  <a
    href="/{{ page - 1 }}{% if request.query_string %}?{{ request.query_string.decode('utf-8') }}{% endif %}"
    class="btn"
    >Edellinen</a
  >
  {% else %}
  <span class="btn disabled">Edellinen</span>
  {% endif %}

  <span class="page-info">Sivu {{ page }} / {{ page_count }}</span>

  {% if page < page_count %}
  <a
    href="/{{ page + 1 }}{% if request.query_string %}?{{ request.query_string.decode('utf-8') }}{% endif %}"
    class="btn"
    >Seuraava</a
  >
  {% else %}
  <span class="btn disabled">Seuraava</span>
  {% endif %}
</div>
