{% extends "layout.html" %} {% block title %}Oma profiili - TechTori{% endblock
%} {% block css %}
<link rel="stylesheet" href="/static/css/profile.css" />
{% endblock %} {% block content %} {% if user.id == session.user_id %}
<div class="logout-container">
  <a href="/logout" class="logout-button">Kirjaudu ulos</a>
</div>
{% endif %}

<div class="profile-info">
  <h1>{{ user.username }}</h1>
  <hr />
  <h2 class="center-text">Omat listaukset</h2>
  {% include "listings.html" %}
</div>
{% if user.id == session.user_id %} {% include "favorites.html" %} {% endif %}{%
endblock %}
