{% extends "layout.html" %} {% block title %}Oma profiili - TechTori{% endblock
%} {% block css %}
<link rel="stylesheet" href="/static/css/profile.css" />
{% endblock %} {% block content %} {% if user.id == session.user_id %}
<div class="logout-container">
  <a href="/logout" class="logout-button">Kirjaudu ulos</a>
</div>
{% endif %}

<div class="profile-info">
  <h1>{{ user.username }}</h1>
  <h4>Käyttäjällä on {{ listings_count }} ilmoitusta.</h4>
  {% if last_listing_date %}
  <h4>Viimeisin lisätty ilmoitus: {{ last_listing_date }}</h4>
  {% endif %} {% if user.created_at_formatted %}
  <h4>Rekisteröitynyt: {{ user.created_at_formatted }}</h4>
  {% endif %}
  <hr />
  <h2 class="center-text">Listaukset</h2>
  {% include "listings.html" %}
</div>
{% if user.id == session.user_id %} {% include "favorites.html" %} {% endif %}{%
endblock %}
